
body {
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1176px;
    padding: 0 24px;
    margin: 0 auto;
}

.gallery {
    display: flex;
    gap: 24px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gallery-item {
    flex-basis: calc((100% - 48px) / 3);
}

.gallery-link {}

.gallery-image {}